<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAKE CAKE</title>
</head>
<body>
<form action="/insertdata" method='POST'>
  <table>
    <tr>
      <td> <label for="label1" id="label1">Name :</label></td>
      <td><input type="text" name="custname" id="custname" required></td>
    </tr>
    <tr>
      <td><label for="label2" id="label2">PhoneNumber :</label></td>
      <td><input type="text" name="custphn" id="custphn"  pattern="[0-9]{10}" required/></td>
    </tr>
    <tr>
      <td><label for="label3" id="label3">Select Item :</label></td>
      <td><select id="item" name="item" required>
        <option value="cupcake">Cupcake</option>
        <option value="macrons">Macrons</option>
        <option value="cakeslice">Cakeslice</option>
        <option value="donut">Donut</option>
      </select> </td>
    </tr>
    <tr>
      <td><label for="Quantity" id="label4">Quantity: </label></td>
      <td><input type="number" id="quantity" name="quantity" min="1" max="10" value="1" required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Place the Order"></td>
    </tr>
  </table>
</form>
</body>
</html>